/* .logo{
  border: 2px solid gainsboro;
  height: 5vh;
  width: 8hw;
} */



.main_div{
width: 100vw;
height: 100vh;
background-image: url("../public/loginbackground.png");
background-size: cover;
/* background-color: #cafafe; */
/* background: #051511; */
background-image: url("/background_2.jpg");
background-size: 100% 100%;
/* background : width 100% ; */
background-attachment: fixed;
border-radius: 0px;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fb_image{
  /* size : 200 px ; */
  height : 200px ;
  margin-bottom : 35px ;
}
.label_welcome{
  font-family: tarjan;
  font-size: 30px;
}
.form_div{
  background-color: #ddf4ff;
  border: 1px solid black;
  width: 567px;
  height: 621px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
 .form{
    display: flex;
   padding-bottom: 0px;
   height:35vh;
   flex-direction: column;
   justify-content: space-between;
 }
.login{
  padding-left: 25px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
  display: block;
  width: 150px;
  float: left;
}
.name {
  /* color: #bb957b; */
  /* padding-bottom: 20px; */
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
  }
  .welcome{
    padding-bottom: 20px;
    font-weight: normal;
    display: block;
    font-size: 40px;
    font-family: Trajan;
    /* width: 300px; */
  }
.fb_image{
  /* padding-top: 30px; */
  height: 35vh;
  width: auto;
}
/* .credentials{
  padding-bottom: 50px;
} */
.inline{
  display: inherit;
}

.posts{
  height: 94vh;
  border: 2px solid;
  width: 80%;
  margin: auto;
}

.postQuery{

  /* border: 2px solid; */
  width: 50%;
  margin:2px auto;
  height: 50px;
  border-radius: 3px;
}

.postInput{
  width: 100%;
  height: 100%;
}


.mainPage{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  position: absolute;
  /* color: antiquewhite; */
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  /* background-image: url("../public/loginbackground.jpg"); */
  background-size: cover;
}

.fontPageColor{
  color:  white;
  /* background-color: #84cdbf; */

}

.searcHere{
  width: 100%;
  color: black;
}

.searcHere:hover{
  font-size: large;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.75, 0.82, 0.165, 1);
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  /* border: 2px solid white; */
  color: aqua;
  margin-top: 20vh;
  height: 60vh;
  width: 50vw;
}

.leftbox{

  display: flex;
  /* background-color: #53aeac; */
  flex-direction: column;
  width: 17%;
  border: 1px solid red;
  /* display: flex; */
  border: 1px solid red;
  justify-content: center;
 
  /* border: 2px solid green; */
}

.student{
  /* border: 2px solid rgb(51, 209, 237); */
  position: absolute;
  width: 8vw;
  /* height: 20vh; */
  margin-top: 48vh;
  margin-left: 13vh ;
}
.student:hover{
  width: 9vw;
  transition: 0.5s ease-out;
  margin-top: 45vh;
  margin-left: 7vw ;
}

.innerbox_even{
  border: 2px solid rgb(75, 189, 237);
  display: flex;
  justify-content: space-between;
  /* align-items: end; */
  box-shadow: 5px 7px 10px rgba(0,0,0,0.7);
  border-radius: 40px 0px;
  margin-bottom: 15px;
  background-color: rgba(217, 180, 224, 0.3);

}

.para{
  /* border: 2px solid rgb(235, 12, 239); */
  padding: 0rem 0.8rem 0.4rem 0.6rem;

}

.para_posts{
  /* border: 2px solid rgb(235, 12, 239); */
  color: azure;
  margin-left: 0.5vw;
  border: 6px double rgb(21, 187, 159);
  padding: 1rem;
  background-color: rgb(225, 252, 249);
}

.comment{
  border: 2px solid rgb(48, 201, 211);
  /* color: rgb(0, 0, 0); */
  background-color: #e8faf6;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  /* align-items: center; */
}
.comment button{
  background-color: #16a98c;
  color: black;
}

.innerbox_odd{
  border: 2px solid rgb(6, 227, 76);
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* align-items: end; */
  box-shadow: 5px 7px 10px rgba(0,0,0,0.7);
  border-radius: 40px 0px;
  margin-bottom: 15px;
  background-color: rgba(221, 119, 131, 0.3);

}
.title{
  text-decoration: underline;
    color: rgb(14, 14, 112);
    font-size: 1.3rem;
  font-weight: 600;
}

.title:hover{
  color: rgb(10, 10, 25);
  text-shadow: 1px 0.5px rgb(153, 211, 241);
  animation: glow 1s ease-in alternate;
}

.inner1{
  /* display: flex; */
/* padding-left: 2vw; */
min-height: 16vh;
/* width: 13vw; */
font-size: 0.9rem;
border: 2px solid rgb(64, 171, 225);
/* padding: 10px 10px ; */
border-radius: 40px 0px;
border: 2px solid yellow;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.inner1:hover{
  background: rgba(219, 215, 215, 0.1);
  transition: 0.3s ease-in;
}

.innner{
  width: 5vw;
  /* align-items: center; */
  /* margin: 0px 0px; */
  margin: 0vw 2.5vw;
}

.inner2{
  display: flex;
  /* flex-direction: column; */
  padding: 0.2vw 0.5vw;
  font-size: 0.95rem;
  margin: 0px;
  width: 70vw;
  /* display: flex; */
/* height: 100%; */
/* border: 2px solid red; */
}

.innerbox_odd:hover{
  box-shadow: 5px 4px 10px rgba(10, 131, 26, 0.7);
  transition: 0.3s ease-in;
  background-color: rgba(221, 129, 131, 0.5);
}

.innerbox_even:hover{
  box-shadow: 5px 4px 10px rgba(10, 99, 131, 0.7);
  transition: 0.3s ease-in;
  background-color: rgba(210, 125, 228, 0.5);
}

.post_date{
  /* border: 2px solid rgb(194, 234, 36); */
  font-weight:600;
  display: flex;
  font-size: 0.9rem;

}

.nav{
width: 25vh;
/* border: 2px solid grey; */
/* margin-left: 4vw; */
margin-top: 1vw;
border-radius: 50px 0px;
color: white;
position: absolute;
font-size: larger;
font-family: Georgia, 'Times New Roman', Times, serif;
background: rgb(2, 23, 18,0.7);
box-shadow: 5px 7px 10px rgba(0,0,0,0.7);
}
.nav ul{
  list-style: none;
  position: relative;
  /* align-items: center;
  padding: 10px 30px;
  height: 30vh;   */
}

.nav ul li a{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 4vh;
  /* width: 100%; */
  text-decoration: none;
  transition: 0.5s ease;
  padding: 10px 30px;
  height: 9vh;
  border-radius: 0px, 50px;
}

.nav ul li a:hover{
 background: rgba(6, 5, 5, 0.5);
 border-radius: 50px 0px;
}


.signup{
  font-size: large ;
  text-decoration: underline;
}


.App{
  font-size: 63px;
  font-weight:bolder;
}

/* for mutitag css */
.list_item {
  display: flex;
  list-style: none;
  border: 2px solid;
  border-radius: 5px;
  margin-right: 2px;
  background-color: #53aeac;
 
}
.ul_item{
  display: flex;
  margin-left: 3px;
  flex-wrap: wrap;
  /* border: 2px solid yellow; */
}



.postMain{
  margin-top: 47px;
  display: flex;
}
.first_div_post{
  width: 79%;
  margin: auto;
  padding:  0 1.2em;
}

.right_bar_post{
  width: 20%;
  border-left: 0.5px solid #dedcdc;
  padding-left: 43px;

}

.profileDiv{
  border-bottom: 0.8px solid #b7aeae;
  margin-bottom: 4px;
  padding-bottom: 6px;
}

.profile_title{
  display: inline;
  font-size: 27px;
  font-weight: 700;
}