.title{
    border: 2px solid salmon;
    border-radius: 20px 0px;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 0vh;
    display: flex;
    flex-direction: column;
    font-family: cursive;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.showQuery{
    border: 2px solid greenyellow;
    color: antiquewhite;
    border-radius: 40px 0px;
    font-size: 1.1rem;
    padding: 10px;
    margin-top: 0vh;
}

.title_innerbox{
    /* border: 2px solid greenyellow; */
    display: flex;
    font-size: 0.9rem;
}

.title_innerboxbox{
    /* border: 2px solid palevioletred; */
    width: 10vw;
}
